%p
  = link_to_close options_invoices_path
  = hidden_field_tag "invoice[user_id]", @current_user.id
  == Sort invoices by #{link_to(@sort_by, "#", :id => :sort_by)}
  == displaying amount #{link_to(@naming, "#", :id => :naming)} the title
  == Show #{link_to(@per_page, "#", :id => :per_page)} invoice records per page
  == using #{link_to(@outline, "#", :id => :outline)} format.
%p

%script
  = render :partial => "common/naming"
  = render :partial => "sort_by"
  = render :partial => "common/per_page"
  = render :partial => "common/outline"
